{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for show in shows %}
            <div class="col-sm-4">
                <div class="show-card">
                    <div class="image">
                        <img src="{{ show.image }}" class="img-thumbnail" alt="{{ show.name }}">
                    </div>
                    <h5><a href="{{ path('tv_show_display', {id: show.id}) }}">{{ show.name }}</a></h5>
                </div>
            </div>
            {% else %}
                Pas encore de série. Utilisez la recherche pour trouver votre série préférée !
            {% endfor %}
        </div>
    </div>
{% endblock %}