{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for show in shows %}
            <div class="col-sm-4">
                <div id="show-card">
                    <div class="image">
                        <img src="{{ show.image }}" class="img-thumbnail" alt="{{ show.name }}">
                    </div>
                    <h5>{{ show.name }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}