{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for show in shows %}
                <div class="col-sm-4">
                    <div id="show-card">
                        <div class="image">
                            <img src="{{ show.image }}" class="img-thumbnail" alt="{{ show.name }}">
                            <button class="btn btn-default"><span class="glyphicon-plus"></span></button>
                        </div>
                        <h5>{{ show.name }}</h5>
                    </div>
                </div>
            {% else %}
                <h4>Aucune série correspondant à "{{ query }}"</h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}